.newcard {
    display: flex;
    justify-content: start;
    /* align-items: center; */
    padding: 22px;
    height: 150px;
    /* margin-bottom: 17px; */
    word-wrap: break-word;
  }
  .newcard:hover {
    -webkit-box-shadow: 0 1px 10px 2px #dddddd;
    -moz-box-shadow: 0 1px 10px 2px #dddddd;
    box-shadow: 0 1px 10px 2px #dddddd;
  
  }
.newcard1 {
    display: flex;
    justify-content: start;
    /* align-items: center; */
    padding: 22px;
    height: 100px;
    /* margin-bottom: 17px; */
    word-wrap: break-word;
  }
  .newcard1:hover {
    -webkit-box-shadow: 0 1px 10px 2px #dddddd;
    -moz-box-shadow: 0 1px 10px 2px #dddddd;
    box-shadow: 0 1px 10px 2px #dddddd;
  }
  