.btncontainer{
    margin-top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background:"#f6f6f6";
    font-size: 15px ;
    border-radius: 26px;
    width: 200px;
    border: none;
    padding: 15px;
    font-weight: 600;
    margin: 5px;
}
.btn:hover{
    background-color: #222733;
    color: whitesmoke;
}
.blackBg{
    background-color: #222733;
    color: whitesmoke;
}

/* Media query for small devices */
@media (max-width: 767px) {
    .btn {
      font-size: 12px; 
    }
  }